html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Align navigation links with flex */
.navbar-nav {
    display: flex;
    align-items: center;
}

/* Style for nav links */
.nav-link {
    color: #2c2c2c !important;
    text-align: center;
    padding: 7px 10px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 1em;
    border-radius: 10px;
}

/* Active state for nav links */
.nav-link.active {
    background-color: #67a7ff;
    border-radius: 5px;
    height: fit-content;
    padding: 3%;
}

/* Hover effect for nav links */
.nav-link:hover {
    background-color: rgba(35, 0, 235, 0.1);
    border-radius: 10px;
    height: fit-content;
}

.btn {
    border-radius: 20px;
}

.form-control {
    border-radius: 20px;
}